*{
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
    width: 100%;
    max-width: 960px;
    height: 100px;
    background: #fff;
    margin: 0 auto;
    padding-top: 15px;
}

.menu img{
    width: 150px;
    margin-left: 60px;
    align-items: center;
}

.radius{
    border-radius: 25%;
}

.menu-link{
    float: right;
    list-style: none;
}

.menu-link li a{
    text-align: center;
    font-size: 20px;
    color: #1b2a6d;
    text-decoration: none;
    list-style: none;
}

.menu-link a:hover{
    transition-delay: 10ms;
    padding-top: 10px;
    border-top: 3px solid #305fa7 ;
}

.quienes{
    background: #e2e2e2;
    padding: 100px;
}

.quienes h1{
    color: #323E48;
    font-size: 40px;    
}

.img-info{
    display: flex;

}

.info{
    padding: 20px;
}

.info p{
    font-weight: 300;
    margin-top: 120px;
    padding-bottom: 0px;
}


.img-info img{
    border-radius: 10px;
    margin: 100px 50px 100px 100px ;
    width: 500px;
}


footer{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    width: 100%;
    background: #25272e;
    color: white;
}

.container-footer-all{
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.column1{
    max-width: 400px;
}

.column1 h1{
    border-bottom: 1px solid white;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
}

.column1 p{
    text-align:justify ;
    font-size: 18px;
    color: #c7c7c7;
    margin-top: 20px;
}

.column2{
    padding-left: 60px;
    max-width: 400px;
}

.column2 h1{
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid white;
    font-size: 24px;
}

.column2 .row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 35px;
    height: 36px;
}

.row2 img{
    width: 35px;
    height: 36px;
}

.column3{
    padding-left: 30px;
}

.column3 h1{
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid white;
    font-size: 24px;
}

.column3 .row2{
    margin-top: 30px;
    display: flex;
}

.footer-image{
    padding-bottom: 40px;
    padding-top: 60px;
    padding-left: 150px;
}

.footer-image img{
    float: left;
    border-radius:50px ;
    width: 150px;
    height: 150px;
}

@media screen and (min-width: 600px) {

    .menu-link{
        display: flex;
        padding: 40px;
    }

    .menu-link li{
        margin-left: 50px;
    }

    .hero-image {
        position: relative;
        padding-top: 0;
        min-height: 750px;
}

    .main-quienes{
        position: relative;
        max-width: 960px;
        height: 100px;
        font-size: 15px;
        margin: 0 auto;
        color: #f5f5f5;
    }

    .title-quienes{
        font-size: 22px;
        max-width: 320px;
        background: #305fa7;
        padding: 15px;
        border-radius: 3px 40px 3px;
        color: rgb(27, 41, 66);
    }

    .parrafo{
        float: left;
        text-align: justify;
        font-size: 20px;
        color: whitesmoke;
        max-width: 350px;
        border-radius: 20px ;
    }

    .parrafo p{
        border:3px solid slategray;
        border-radius: 20px;
    }

    .container-grid{
        padding: 150px 100px;
        display: flex;
        justify-content: space-between;
    }
    

    .column3 .row2{
        margin-top: 25px;
        display: flex;
    }

    .menu img{
        margin-left: 0px;
    }

    .footer-image{
        padding-top: 60px;
        padding-left: 0px;
    }

    .column2{
        padding-left: 0px;
        max-width: 400px;
    }

    .column3{
        padding-left: 0px;
    }
    
}

@media screen and (max-width: 768px) {

    .main-parrafo2{
        color: #f5f5f5;
        float: right;
        padding-top: 200px;
        padding-right: 0px;
    }

    .container-grid{
        padding: 150px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 425px) {

    .footer-image{
        padding-top: 40px;
        padding-left: 130px;
    }

    .column2{
        padding-left: 112px;
        max-width: 400px;
    }

    .column3{
        padding-left: 80px;
    }

    .main-quienes{
        font-size: 15px;
        color: #f5f5f5;
    }

    .main-parrafo2{
        color: #f5f5f5;
        float: right;
        padding-top: 200px;
        padding-right: 70px;
        padding-left: 0px;
    }

    .menu img{
        width: 150px;
        margin-left: 110px;
        align-items: center;
    }

    .container-grid{
        padding: 70px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 375px) {

    .footer-image{
        padding-top: 40px;
        padding-left: 110px;
    }

    .column2{
        padding-left: 90px;
        max-width: 400px;
    }

    .column3{
        padding-left: 60px;
    }

    .main-parrafo2{
        color: #f5f5f5;
        float: right;
        padding-top: 200px;
        padding-right: 15px;
    }

    .menu img{
        width: 150px;
        margin-left: 90px;
        align-items: center;
    }


    .container-grid{
        padding: 50px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 320px) {

    .footer-image{
        padding-top: 40px;
        padding-left: 80px;
    }

    .column2{
        padding-left: 65px;
        max-width: 400px;
    }

    .column3{
        padding-left: 40px;
    }
    .main-quienes{
        font-size: 15px;
        color: #f5f5f5;
        padding-top: 70px;
        padding-left: 10px;
        padding-right: 25px;
    }

    .menu img{
        width: 150px;
        margin-left: 60px;
        align-items: center;
    }

    .container-grid{
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
}