*{
    margin: 0;
    flex-wrap: wrap;
}

body {
    font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
    width: 100%;
    max-width: 960px;
    height: 100px;
    background: #fff;
    margin: 0 auto;
    padding-top: 15px;
}

.menu img{
    width: 150px;
    margin-left: 60px;
    align-items: center;
}

.radius{
    border-radius: 25%;
}

.menu-link{
    float: right;
    list-style: none;
}

.menu-link li a{
    text-align: center;
    font-size: 20px;
    color: #1b2a6d;
    text-decoration: none;
    list-style: none;
}

.menu-link a:hover{
    transition-delay: 10ms;
    padding-top: 10px;
    border-top: 3px solid #305fa7 ;
}

#menu{
    display:none;
}

.label1{
    display: none;
}

.separacion{
    padding:50px;
}

.servicios-h1{
    font-size: 20px;
    padding: 100px;
    background: #E2E2E2;
    color: #323E48;
    margin-bottom: 60px;
}


#servicios{
    padding: 50px;
    margin: 0 auto;
    position: relative;
    display: flex;
}


.main-servicios{
    position: relative;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    background: #e6eeff;
    border: 3px solid rgb(214, 214, 214);
    border-radius: 20px;
}

.image-servicios img{
    width: 250px;
    border-radius: 20px;
}

.main-servicios a{
    text-align:center ;
    font-size: 20px;
    max-width: 220px;
    padding: 20px;
}

span{
    color: cornflowerblue;
}


.separacion ul{
    margin: 0 auto ;
    list-style: circle;
    width: 500px;
}
.separacion li{
    padding: 5px;
}

.separacion{
    margin: 0 auto ;
    display: flex;
}

#titulo{
    color: cornflowerblue;
    font-size: 35px;
    text-align: center;
}


footer{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    width: 100%;
    background: #25272e;
    color: white;
}

.container-footer-all{
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.column1{
    max-width: 400px;
}

.column1 h1{
    border-bottom: 1px solid white;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
}

.column1 p{
    text-align: justify;
    font-size: 18px;
    color: #c7c7c7;
    margin-top: 20px;
}

.column2{
    padding-left: 60px;
    max-width: 400px;
}

.column2 h1{
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid white;
    font-size: 24px;
}

.column2 .row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 35px;
    height: 36px;
}

.row2 img{
    width: 35px;
    height: 36px;
}

.column3{
    padding-left: 30px;
}

.column3 h1{
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid white;
    font-size: 24px;
}

.column3 .row2{
    margin-top: 30px;
    display: flex;
}

.footer-image{
    padding-bottom: 40px;
    padding-top: 60px;
    padding-left: 150px;
}

.footer-image img{
    float: left;
    border-radius:50px ;
    width: 150px;
    height: 150px;
}

@media screen and (min-width: 600px) {

    .menu-link{
        display: flex;
        padding: 40px;
    }

    .menu-link li{
        margin-left: 50px;
    }

    .hero-image {
        padding-top: 0;
        min-height: 750px;
    }
    

    .column3 .row2{
        margin-top: 25px;
        display: flex;
    }

    .menu img{
        margin-left: 0px;
    }

    .footer-image{
        padding-top: 60px;
        padding-left: 0px;
    }

    .column2{
        padding-left: 0px;
        max-width: 400px;
    }

    .column3{
        padding-left: 0px;
    }
    
}

@media screen and (max-width: 768px) {
    
    .separacion ul{
    margin: 0 auto ;
    list-style: circle;
        width: 500px;
    }
    
    .separacion li{
        padding: 5px;
    }

    .separacion{
        margin: 0 auto ;
        display: flex;
    }

    #titulo{
        color: cornflowerblue;
        font-size: 35px;
        text-align: center;
    }

    ul{
        display: none;
      }
      
      #menu:checked  ~ ul{
        display:block;
      }
      
      #menu {
        display: none;
      }
      
      .label1 {
        float: right;
        margin: 30px 50px 0px 2px;
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
      }
    
      .label1:hover{
        background: grey;
      }
    
      ul{
        margin-top:0;
        padding: 0;
        width: 200px;
      
      }
    
      li {
        display: block;
        background: lightgrey;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
      }
    
      li:hover {
        filter: brightness(110%);
      }

    .main-parrafo2{
        color: #f5f5f5;
        float: right;
        padding-top: 200px;
        padding-right: 0px;
    }

    #servicios{
        padding: 150px;
        display: flex;
        justify-content: space-between;
    }

    .column1 p{
        padding: 15px;
    }
}

@media screen and (max-width: 425px) {

    .footer-image{
        padding-top: 40px;
        padding-left: 130px;
    }

    .column2{
        padding-left: 112px;
        max-width: 400px;
    }

    .column3{
        padding-left: 80px;
    }

    .main-quienes{
        font-size: 15px;
        color: #f5f5f5;
    }

    .main-parrafo2{
        color: #f5f5f5;
        float: right;
        padding-top: 200px;
        padding-right: 70px;
        padding-left: 0px;
    }

    .menu img{
        width: 150px;
        margin-left: 110px;
        align-items: center;
    }

    #servicios{
        padding: 70px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 375px) {

    .footer-image{
        padding-top: 40px;
        padding-left: 110px;
    }

    .column2{
        padding-left: 90px;
        max-width: 400px;
    }

    .column3{
        padding-left: 60px;
    }

    .main-parrafo2{
        color: #f5f5f5;
        float: right;
        padding-top: 200px;
        padding-right: 15px;
    }

    .menu img{
        width: 150px;
        margin-left: 90px;
        align-items: center;
    }


    #servicios{
        padding: 50px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 320px) {

    .footer-image{
        padding-top: 40px;
        padding-left: 80px;
    }

    .column2{
        padding-left: 65px;
        max-width: 400px;
    }

    .column3{
        padding-left: 40px;
    }
    .main-quienes{
        font-size: 15px;
        color: #f5f5f5;
        padding-top: 70px;
        padding-left: 10px;
        padding-right: 25px;
    }

    .menu img{
        width: 150px;
        margin-left: 60px;
        align-items: center;
    }

    #servicios{
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
}
