*{
    margin: 0;
    flex-wrap: wrap;
}

body {
    font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
    width: 100%;
    max-width: 960px;
    height: 100px;
    background: #fff;
    margin: 0 auto;
    padding-top: 20px;
    /*flex-wrap: wrap;*/
}

#logo {
    float: left;
    border-radius: 10px;
}

.menu-link{
    float: right;
    list-style: none;
    margin-top:35px;
}

.menu-link li a {
    text-align: center;
    font-size: 18px;
    color: #1b2a6d;
    text-decoration: none;
    list-style: none;
}

.menu-link a:hover{
    transition-delay: 10ms;
    padding-top: 10px;
    border-top: 3px solid #305fa7 ;
}

.hero-image{
    background-image: url(imagenes/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:1;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 850px;
    padding-top: 150px;
}

.main-quienes{
    position: relative;
    max-width: 960px;
    font-size: 15px;
    color: #f5f5f5;
    margin: 0 auto;
    padding-top: 70px;
}


.title-quienes{
    max-width: 180px;
    background: #305fa7;
    padding: 15px;
    border-radius: 40px ;
    color: rgb(27, 41, 66);
}

.parrafo{
    background: rgb(27, 41, 66);
    float: left;
    text-align: justify;
    font-size: 15px;
    color: whitesmoke;
    max-width: 350px;
    border-radius: 20px ;
}

.parrafo p{
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-parrafo2{
    color: #f5f5f5;
    float: right;
    padding-top: 200px;
    padding-right: 0px;
}

.title-exp{
    max-width: 120px;
    background: #305fa7;
    padding: 15px;
    border-radius:  40px ;
    color: rgb(27, 41, 66);
}

.main-parrafo2 p{
    padding: 9px;
    background: rgb(27, 41, 66);
    float: right;
    text-align: justify;
    font-size: 15px;
    color: whitesmoke;
    max-width: 350px;
    border-radius: 15px ;
}

.separacion{
    padding: 60px;
}

.container-grid{
    flex-wrap: wrap;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.main-servicios{
    padding: 20px;
    display: flex;
    background: #e6eeff;
    border: 3px solid rgb(214, 214, 214);
    max-width: 550px;
    border-radius: 20px;
}

.image-servicios img{
    width: 250px;
    border-radius: 20px;
}

.main-servicios a{
    text-align:center ;
    font-size: 20px;
    max-width: 220px;
    padding: 20px;
}

span{
    color: cornflowerblue;
}

footer{
    display: flex;
    width: 100%;
    background: #25272e;
    color: white;
}

.container-footer-all{
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.column1{
    max-width: 400px;
}

.column1 h1{
    border-bottom: 1px dashed white;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
}

.column1 p{
    font-size: 18px;
    color: #c7c7c7;
    margin-top: 20px;
}

.column2{
    padding-left: 60px;
    max-width: 400px;
}

.column2 h1{
    text-align: center;
    font-weight: normal;
    border-bottom: 1px dashed white;
    font-size: 24px;
}

.column2 .row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 35px;
    height: 36px;
}

.row2 img{
    width: 35px;
    height: 36px;
}

.column3{
    padding-left: 30px;
}

.column3 h1{
    text-align: center;
    font-weight: normal;
    border-bottom: 1px dashed white;
    font-size: 24px;
}

.column3 .row2{
    margin-top: 30px;
    display: flex;
}

.footer-image{
    padding-bottom: 40px;
    padding-top: 60px;
    padding-left: 150px;
}

.footer-image img{
    float: left;
    border-radius:50px ;
    width: 150px;
    height: 150px;
}

@media screen and (min-width: 600px) {

    .menu {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .menu-link{
        display: flex;
        /*padding: 60px;*/
    }

    .menu-link li{
        margin-left: 50px;
    }

    .hero-image {
        padding-top: 0;
        min-height: 750px;
    }

    .main-quienes{
        color: #f5f5f5;
        /*padding-top: 290px;
        padding-left: 150px;*/
    }

    .main-parrafo2{
        color: #f5f5f5;
        float: right;
        padding-top: 0px;
        padding-right: 60px;
    }

    .title-quienes{
        font-size: 24px;
        max-width: 180px;
        background: #305fa7;
        padding: 15px;
        border-radius: 5px 40px 5px;
        color: rgb(27, 41, 66);
    }

    .title-exp{
        font-size:25px ;
        max-width: 120px;
        background: #305fa7;
        padding: 15px;
        border-radius: 5px 40px 5px;
        color: rgb(27, 41, 66);
    }

    .parrafo{
        background: rgb(27, 41, 66);
        float: left;
        text-align: justify;
        font-size: 20px;
        color: whitesmoke;
        max-width: 350px;
        border-radius: 20px ;
    }

    .main-parrafo2 p{
        padding: 9px;
        background: rgb(27, 41, 66);
        float: right;
        text-align: justify;
        font-size: 25px;
        color: whitesmoke;
        max-width: 350px;
        border-radius: 15px ;
    }

    .container-grid{
        padding: 150px 100px;
        display: flex;
        justify-content: space-between;
    }
    

    .column3 .row2{
        margin-top: 25px;
        display: flex;
    }

    .main-menu .menu-link{
        text-align: none;
    }

    .menu img{
        margin-left: 0px;
    }

    .footer-image{
        padding-top: 60px;
        padding-left: 0px;
    }

    .main-menu{
        background: #f5f5f5;
        position: fixed;
        z-index: 10;
        width: 100%;
        flex-wrap: wrap;
    }

    .column2{
        padding-left: 0px;
        max-width: 400px;
    }

    .column3{
        padding-left: 0px;
    }
    
}

@media screen and (max-width: 768px) {

    .main-parrafo2{
        color: #f5f5f5;
        float: right;
        padding-top: 200px;
        padding-right: 0px;
    }

    .container-grid{
        padding: 150px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 425px) {

    .footer-image{
        padding-top: 40px;
        padding-left: 130px;
    }

    .column2{
        padding-left: 112px;
        max-width: 400px;
    }

    .column3{
        padding-left: 80px;
    }

    .main-quienes{
        font-size: 15px;
        color: #f5f5f5;
        padding-top: 70px;
        padding-left: 40px;
        padding-right: 25px;
    }

    .main-parrafo2{
        color: #f5f5f5;
        float: right;
        padding-top: 200px;
        padding-right: 70px;
        padding-left: 0px;
    }

    .menu img{
        width: 150px;
        margin-left: 110px;
        align-items: center;
    }

    .container-grid{
        padding: 70px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 375px) {

    .footer-image{
        padding-top: 40px;
        padding-left: 110px;
    }

    .column2{
        padding-left: 90px;
        max-width: 400px;
    }

    .column3{
        padding-left: 60px;
    }

    .main-parrafo2{
        color: #f5f5f5;
        float: right;
        padding-top: 200px;
        padding-right: 15px;
    }

    .menu img{
        width: 150px;
        margin-left: 90px;
        align-items: center;
    }


    .container-grid{
        padding: 50px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 320px) {

    .footer-image{
        padding-top: 40px;
        padding-left: 80px;
    }

    .column2{
        padding-left: 65px;
        max-width: 400px;
    }

    .column3{
        padding-left: 40px;
    }
    .main-quienes{
        font-size: 15px;
        color: #f5f5f5;
        padding-top: 70px;
        padding-left: 10px;
        padding-right: 25px;
    }

    .menu img{
        width: 150px;
        margin-left: 60px;
        align-items: center;
    }

    .container-grid{
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
}